##############################
## Eclipse
##############################
JavaOito/.settings/
JavaOito/bin/
JavaOito/tmp/
JavaOito/.metadata
JavaOito/.classpath
JavaOito/.project
JavaOito/*.tmp
JavaOito/*.bak
JavaOito/*.swp
JavaOito/*~.nib
JavaOito/local.properties
JavaOito/.loadpath
JavaOito/.factorypath
.metadata/
##############################
## Java
##############################
.mtj.tmp/
JavaOito/*.class
JavaOito/*.jar
JavaOito/*.war
JavaOito/*.ear
